In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv('data/poultry_weight_15_08_2023.csv')
df_lot_info = pd.read_csv('data/lot_info_15_ago_2023.csv')

In [8]:
df_novo = df.merge(df_lot_info[['uuid', 'input_total', 'deaths', 'mortality']], 
                            left_on='animal_group_uuid', 
                            right_on='uuid', 
                            how='left')

df_novo = df_novo.drop(columns=['uuid'])
df_novo

,reference_date,holding_uuid,farm_uuid,animal_group_uuid,animal_group_age,total_measurement_weight,total_animal_measurement,balance_animals_stock_accumulated,input_total,deaths,mortality
0,2021-02-10,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,3,0.101,1,19600,19600.0,513.0,2.617347
1,2021-02-13,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,6,0.176,1,19600,19600.0,513.0,2.617347
2,2021-02-20,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,13,0.454,1,19600,19600.0,513.0,2.617347
3,2021-02-27,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,20,0.879,1,19600,19600.0,513.0,2.617347
4,2021-03-06,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,27,1.451,1,19600,19600.0,513.0,2.617347
...,...,...,...,...,...,...,...,...,...,...,...
131650,2022-05-13,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,14,0.330,1,30400,NaN,NaN,NaN
131651,2022-05-27,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,28,1.300,1,30400,NaN,NaN,NaN
131652,2022-05-30,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,31,1.550,1,30400,NaN,NaN,NaN
131653,2022-06-02,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,34,1.840,1,30400,NaN,NaN,NaN
131654,2022-06-04,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,36,2.060,1,30400,NaN,NaN,NaN

In [9]:
#contar quatnidade de nan
df_novo.isna().sum()

reference_date                          0
holding_uuid                            0
farm_uuid                               0
animal_group_uuid                       0
animal_group_age                        0
total_measurement_weight                0
total_animal_measurement                0
balance_animals_stock_accumulated       0
input_total                          6092
deaths                               8173
mortality                            8173
dtype: int64

In [19]:
#mediana de mortality
mediana_mortalidade = df_novo['mortality'].median()
#preencher mortality nan com mediana
df_novo['mortality'] = df_novo['mortality'].fillna(mediana_mortalidade)

#mediana de deaths
mediana_deaths = df_novo['deaths'].median()
#preencher deaths nan com mediana
df_novo['deaths'] = df_novo['deaths'].fillna(mediana_deaths)

#mediana de input_total
mediana_input_total = df_novo['input_total'].median()
#preencher input_total nan com mediana
df_novo['input_total'] = df_novo['input_total'].fillna(mediana_input_total) 
df_novo

,reference_date,holding_uuid,farm_uuid,animal_group_uuid,animal_group_age,total_measurement_weight,total_animal_measurement,balance_animals_stock_accumulated,input_total,deaths,mortality
0,2021-02-10,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,3,0.101,1,19600,19600.0,513.0,2.617347
1,2021-02-13,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,6,0.176,1,19600,19600.0,513.0,2.617347
2,2021-02-20,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,13,0.454,1,19600,19600.0,513.0,2.617347
3,2021-02-27,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,20,0.879,1,19600,19600.0,513.0,2.617347
4,2021-03-06,071c638d-bb9b-4e68-a5d1-416da57d887f,00d4000a-3f47-4d84-bed5-8ca59da0316e,04ef96f7-f110-469d-a685-2f45708ae94b,27,1.451,1,19600,19600.0,513.0,2.617347
...,...,...,...,...,...,...,...,...,...,...,...
131650,2022-05-13,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,14,0.330,1,30400,28000.0,1114.0,4.316770
131651,2022-05-27,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,28,1.300,1,30400,28000.0,1114.0,4.316770
131652,2022-05-30,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,31,1.550,1,30400,28000.0,1114.0,4.316770
131653,2022-06-02,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,34,1.840,1,30400,28000.0,1114.0,4.316770
131654,2022-06-04,fd3d63ce-5a3f-44a0-b718-8887eaedc5a0,02d272f2-8802-4c36-89d1-3c323e2fcf2b,6111303a-4640-4a4b-aa46-bde9015c41ff,36,2.060,1,30400,28000.0,1114.0,4.316770

In [30]:
df_filtrado = df_novo[(df_novo['total_measurement_weight'] > 4000) & (df_novo['total_measurement_weight'] < 10000)]
df_filtrado

,reference_date,holding_uuid,farm_uuid,animal_group_uuid,animal_group_age,total_measurement_weight,total_animal_measurement,balance_animals_stock_accumulated,input_total,deaths,mortality
74366,2022-05-18,071c638d-bb9b-4e68-a5d1-416da57d887f,db6d2d90-7815-4da4-b49f-bb8b53ebf332,43a6a226-bd0a-4433-aa8b-e6318c347611,35,6260.88,2400,32000,32000.0,960.0,3.000000
74889,2022-05-18,071c638d-bb9b-4e68-a5d1-416da57d887f,db6d2d90-7815-4da4-b49f-bb8b53ebf332,b28b754f-b5d8-43c7-8e31-e8719edbb4c8,35,6273.12,2400,32000,32000.0,853.0,2.665625
75108,2022-05-18,071c638d-bb9b-4e68-a5d1-416da57d887f,db6d2d90-7815-4da4-b49f-bb8b53ebf332,d88ba809-06f3-4146-b318-1a6296206255,35,6812.10,3000,33000,28000.0,1114.0,4.316770
90717,2019-01-27,b34b351a-b658-495d-9139-b9edd6c3f6dc,0004c280-2aac-4f34-a378-3ceffc23584a,0b313f33-b1e9-4621-b92f-d679afae423c,7,5377.00,28300,27913,28300.0,1584.0,5.597173
90725,2020-10-14,b34b351a-b658-495d-9139-b9edd6c3f6dc,0004c280-2aac-4f34-a378-3ceffc23584a,1cf8462c-683a-4639-8782-4e6a97aa5ae4,14,9486.68,27951,27900,27901.0,1114.0,4.316770
...,...,...,...,...,...,...,...,...,...,...,...
127563,2019-08-09,b34b351a-b658-495d-9139-b9edd6c3f6dc,ffd9957f-e9a0-4a9d-b8cf-244c78d08743,c4086fe2-646c-4ecc-9890-8cd1c25a97b9,7,4800.00,30000,29545,30000.0,1127.0,3.756667
127570,2020-08-01,b34b351a-b658-495d-9139-b9edd6c3f6dc,ffd9957f-e9a0-4a9d-b8cf-244c78d08743,cfa9cd1b-55de-41b0-9d83-b6ff9cc7c46a,6,5400.00,30000,29692,30000.0,1580.0,5.266667
127576,2019-02-08,b34b351a-b658-495d-9139-b9edd6c3f6dc,ffd9957f-e9a0-4a9d-b8cf-244c78d08743,e1d1b2b0-5ff3-43ba-b347-6affda3e4f9a,6,5424.50,28550,28117,28550.0,1127.0,3.947461
127583,2018-09-07,b34b351a-b658-495d-9139-b9edd6c3f6dc,ffd9957f-e9a0-4a9d-b8cf-244c78d08743,f50d57ca-fd3e-4a73-866b-88cd8f1da6dc,7,5453.00,28700,28027,28700.0,2006.0,6.989547
127590,2020-12-01,b34b351a-b658-495d-9139-b9edd6c3f6dc,ffd9957f-e9a0-4a9d-b8cf-244c78d08743,f6b6bfc5-f713-41b0-bc10-917906ef1339,7,4976.00,31100,62200,28000.0,1114.0,4.316770

In [34]:
#ordenar por data e animal_group_uuid
df_filtrado = df_filtrado.sort_values(by=[ 'animal_group_uuid','reference_date'])
df_filtrado

,reference_date,holding_uuid,farm_uuid,animal_group_uuid,animal_group_age,total_measurement_weight,total_animal_measurement,balance_animals_stock_accumulated,input_total,deaths,mortality
115328,2018-10-15,b34b351a-b658-495d-9139-b9edd6c3f6dc,a78c7801-2e9a-49b2-985c-99dcad9c0635,0015eb4d-b7d6-410d-9a17-a26fac684c3f,6,5814.0,32300,31787,32300.0,1371.0,4.244582
99213,2020-05-27,b34b351a-b658-495d-9139-b9edd6c3f6dc,36924ec1-02ff-4b9c-b29c-e5a6ca43f5f7,005ee6b0-b0ef-4549-909f-1c6933362779,6,4800.0,30000,29188,30000.0,1603.0,5.343333
95424,2019-02-07,b34b351a-b658-495d-9139-b9edd6c3f6dc,1f385497-58b7-4151-b74d-5acacec3aef8,006b86ba-dc6f-438c-9009-1fe6b7438d8d,7,4750.0,25000,24453,25000.0,2094.0,8.376000
101601,2018-01-10,b34b351a-b658-495d-9139-b9edd6c3f6dc,4bbfe2ad-83c4-4dd5-9dd4-7284e8352d78,006d1151-bf89-4117-8485-8f18cfcbe9da,7,6080.0,32000,31580,32000.0,1089.0,3.403125
114524,2019-02-15,b34b351a-b658-495d-9139-b9edd6c3f6dc,a2760967-5829-44ee-8af7-2c934eed852b,007c149a-5fe1-48bb-aa57-9bb862291c5a,7,5400.0,30000,29402,30000.0,1247.0,4.156667
...,...,...,...,...,...,...,...,...,...,...,...
118629,2020-05-13,b34b351a-b658-495d-9139-b9edd6c3f6dc,b936f703-103a-48ed-88de-4027a0a606d8,ffddf84e-5792-4690-b481-f18e2d445bd5,7,4641.0,27300,26444,27300.0,1682.0,6.161172
90921,2018-12-15,b34b351a-b658-495d-9139-b9edd6c3f6dc,00050672-9d78-49e5-9eab-4434dac6e2e5,ffe3915e-0454-4409-8554-0f19777a2454,7,5292.0,29400,29099,29400.0,990.0,3.367347
96759,2020-11-27,b34b351a-b658-495d-9139-b9edd6c3f6dc,236c09cf-292b-4fce-8327-ccb25f4a1e57,ffe9e9e8-5bd9-421e-9b2f-e19addbee08a,7,5529.0,29100,29100,28000.0,1114.0,4.316770
100537,2018-01-20,b34b351a-b658-495d-9139-b9edd6c3f6dc,3ffe0471-30e0-4e60-a8eb-90b2a6935617,ffebc886-46aa-4115-8de1-c7c38cf8eaa3,7,4608.0,25600,24469,25600.0,1833.0,7.160156
113399,2019-05-29,b34b351a-b658-495d-9139-b9edd6c3f6dc,989e04c4-607e-4e65-9cbb-9d4262125bcb,ffefb76e-f074-4373-bf48-8a65aa26c348,6,5928.0,31200,30071,31200.0,1973.0,6.323718

In [38]:
# criar coluna media_input_weight para cada linha onde essa coluna vai representar total_measurement_weight/total_animal_measurement
df_filtrado['media_input_weight'] = df_filtrado['total_measurement_weight']/df_filtrado['balance_animals_stock_accumulated']
df_filtrado

,reference_date,holding_uuid,farm_uuid,animal_group_uuid,animal_group_age,total_measurement_weight,total_animal_measurement,balance_animals_stock_accumulated,input_total,deaths,mortality,media_input_weight
115328,2018-10-15,b34b351a-b658-495d-9139-b9edd6c3f6dc,a78c7801-2e9a-49b2-985c-99dcad9c0635,0015eb4d-b7d6-410d-9a17-a26fac684c3f,6,5814.0,32300,31787,32300.0,1371.0,4.244582,0.182905
99213,2020-05-27,b34b351a-b658-495d-9139-b9edd6c3f6dc,36924ec1-02ff-4b9c-b29c-e5a6ca43f5f7,005ee6b0-b0ef-4549-909f-1c6933362779,6,4800.0,30000,29188,30000.0,1603.0,5.343333,0.164451
95424,2019-02-07,b34b351a-b658-495d-9139-b9edd6c3f6dc,1f385497-58b7-4151-b74d-5acacec3aef8,006b86ba-dc6f-438c-9009-1fe6b7438d8d,7,4750.0,25000,24453,25000.0,2094.0,8.376000,0.194250
101601,2018-01-10,b34b351a-b658-495d-9139-b9edd6c3f6dc,4bbfe2ad-83c4-4dd5-9dd4-7284e8352d78,006d1151-bf89-4117-8485-8f18cfcbe9da,7,6080.0,32000,31580,32000.0,1089.0,3.403125,0.192527
114524,2019-02-15,b34b351a-b658-495d-9139-b9edd6c3f6dc,a2760967-5829-44ee-8af7-2c934eed852b,007c149a-5fe1-48bb-aa57-9bb862291c5a,7,5400.0,30000,29402,30000.0,1247.0,4.156667,0.183661
...,...,...,...,...,...,...,...,...,...,...,...,...
118629,2020-05-13,b34b351a-b658-495d-9139-b9edd6c3f6dc,b936f703-103a-48ed-88de-4027a0a606d8,ffddf84e-5792-4690-b481-f18e2d445bd5,7,4641.0,27300,26444,27300.0,1682.0,6.161172,0.175503
90921,2018-12-15,b34b351a-b658-495d-9139-b9edd6c3f6dc,00050672-9d78-49e5-9eab-4434dac6e2e5,ffe3915e-0454-4409-8554-0f19777a2454,7,5292.0,29400,29099,29400.0,990.0,3.367347,0.181862
96759,2020-11-27,b34b351a-b658-495d-9139-b9edd6c3f6dc,236c09cf-292b-4fce-8327-ccb25f4a1e57,ffe9e9e8-5bd9-421e-9b2f-e19addbee08a,7,5529.0,29100,29100,28000.0,1114.0,4.316770,0.190000
100537,2018-01-20,b34b351a-b658-495d-9139-b9edd6c3f6dc,3ffe0471-30e0-4e60-a8eb-90b2a6935617,ffebc886-46aa-4115-8de1-c7c38cf8eaa3,7,4608.0,25600,24469,25600.0,1833.0,7.160156,0.188320
113399,2019-05-29,b34b351a-b658-495d-9139-b9edd6c3f6dc,989e04c4-607e-4e65-9cbb-9d4262125bcb,ffefb76e-f074-4373-bf48-8a65aa26c348,6,5928.0,31200,30071,31200.0,1973.0,6.323718,0.197133

In [43]:
df_filtrado['balance_animals_stock_accumulated'].value_counts()

balance_animals_stock_accumulated
29000    13
30000    13
32000    10
30200     9
31000     8
         ..
33314     1
30252     1
30575     1
29005     1
24469     1
Name: count, Length: 3792, dtype: int64